[Desktop Entry]
Version=1.0
Type=Application
Name=jgmenu
Comment=Displays menu for launching installed applications
Exec=jgmenu --config-file=/home/doug/.config/jgmenu/jgfvwmrc
Icon=yin-yang-36-1179385
Path=
Terminal=false
StartupNotify=false
