[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[88BA19F1BA19DD0E]
row=2
col=0

[563CA3693CA3433B]
row=1
col=0

[1884-12CA]
row=0
col=0

[Trash]
row=3
col=0

[/]
row=4
col=0

[/home/doug]
row=5
col=0

